rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Nur DU hast Zugriff auf die gesamte Datenbank
    match /{document=**} {
      allow read, write: if request.auth != null && request.auth.token.email == "gbr@jammifashion.de";
    }
  }
}
